html,
body {
  border: 0;
  font-family: 'Conv_ProximaNova-Regular', Sans-Serif !important;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  background: pink;
    header{
        background: yellow;
        width: 200px;
        height: 200px;
        transform: scale(2,1)
    }
}